body
{
	background-color: #000000;
}

.header
{
	width: 2520px;
	height: 25px;
	background-color: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	margin: 15px auto;
	box-shadow: 5px 5px 5px 5px #212121;
	clear: both;
}

.top-box
{
	width: 2520px;
	height: 130px;
	background-color: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	margin: 15px auto;
	box-shadow: 5px 5px 5px 5px #212121;
	clear: both;
}

.coutainer-box
{
	width: 1366px;
	height: 582px;
	margin: 20px auto;
	clear: both;
}

.left-box
{
	margin-left: -577px;
	float: left;
	width: 500px;
	height: 980px;
	background-color: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 5px 5px #212121;
	clear: both;
}

.middle-box
{
	width: 1914px;
	height: 980px;
	background-color: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 5px 5px #212121;
	margin: 0px 30px
}

.description
{
	width: 264px;
	height: 24px;
	margin: 0px;
}

.cammy
{
	width: 120px;
	height: 24px;
	margin: 0px;
}

.dhaslim
{
	width: 168px;
	height: 24px;
	margin: 0px;
}

.feilong
{
	width: 192px;
	height: 24px;
	margin: 0px;
}

.gen
{
	width: 72px;
	height: 24px;
	margin: 0px;
}

.ibuki
{
	width: 120px;
	height: 24px;
	margin: 0px;
}

.makoto
{
	width: 144px;
	height: 24px;
	margin: 0px;
}

.sexe
{
	width: 96px;
	height: 24px;
	margin: 0px;
}

.homme
{
	width: 120px;
	height: 24px;
	margin: 0px;
}

.femme
{
	width: 120px;
	height: 24px;
	margin: 0px;
}

.type
{
	width: 96px;
	height: 24px;
	margin: 0px;
}

.distance
{
	width: 192px;
	height: 24px;
	margin: 0px;
}

.cac
{
	width: 312px;
	height: 24px;
	margin: 0px;
}

.experience
{
	width: 240px;
	height: 24px;
	margin: 0px;
}

.junior
{
	width: 144px;
	height: 24px;
	margin: 0px;
}

.senior
{
	width: 144px;
	height: 24px;
	margin: 0px;
}

.panier
{
	width: 240px;
	height: 24px;
	margin: 0px;
}

.compte
{
	width: 240px;
	height: 24px;
	margin: 0px;
}

.sf-brand-logo
{
	float: left;
	width: 435px;
	height: 122px;
	margin: 10px;
}

.shop-icon
{
	float: right;
	width: 120px;
	height: 120px;
	margin: 10px;
}

#Personnage1
{
	float: left;
	width: 310px;
	height: 310px;
}

#Personnage2
{
	float: left;
	width: 310px;
	height: 310px;
}

#Personnage3
{
	float: left;
	width: 310px;
	height: 310px;
}

#Personnage4
{
	float: left;
	width: 310px;
	height: 310px;
}

#Personnage5
{
	float: left;
	width: 310px;
	height: 310px;
}

#Personnage6
{
	float: left;
	width: 310px;
	height: 310px;
}

figure
{
	display: inline-block;
	margin: 20px;
}

figure figcaption
{
	text-align: center;
	margin-left: 170px;
}

.super
{
	display: inline-block;
	vertical-align: top;
	margin-left: 150px;
	margin-top: 60px;
}

label
{
	display: block;
	width: 150px;
	float: left;
}
